@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-grey-blue: hsl(217, 19%, 35%);
	--desat-dark-blue: hsl(214, 17%, 51%);
	--grey-blue: #9eafc2;
	--light-grey-blue: hsl(210, 46%, 95%);
	--cream-primary: hsl(30, 38%, 92%);
	--stone-150: hsl(30, 18%, 87%);
	--flex-background: rgba(70, 131, 180, 0.25);
}

body {
	font-family: 'Manrope', sans-serif;
	font-size: 13px;
	background-color: var(--stone-150);
}

img {
	width: 100%;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 40% 60%;
	gap: 0.4rem;
	width: 550px;
	height: 250px;
	background-color: var(--cream-primary);
	/* border: 1px solid dodgerblue; */
	box-shadow: 5px 5px 9px -3px rgba(41, 32, 32, 0.3);
	border-radius: 8px;
}

.header-image {
	background: url('images/drawers.jpg') center left/cover no-repeat;
	border-radius: 8px 0 0 8px;
}

.header-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.8rem 0.8rem 0 0.4rem;
	/* border: 2px dotted red; */
}
.header-content .headline {
	font-size: 1rem;
	font-weight: 700;
	padding: 0.5rem 0.8rem 0.2rem 0.8rem;
	color: var(--dark-grey-blue);
}

.header-content .article {
	font-size: 0.7rem;
	line-height: 1.6;
	color: var(--dark-grey-blue);
	opacity: 0.9;
	padding: 0rem 0.8rem 0.2rem 0.8rem;
	text-wrap: pretty;
	/* border: 1px dotted red; */
}

.flex-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.2rem;
	padding: 0 0.8rem;
	/* border: 1px dotted green; */
}

.flex-person {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.flex-name {
	font-size: 0.75rem;
	font-weight: 600;
	color: var(--dark-grey-blue);
}
.flex-text {
	display: flex;
	flex-direction: column;
	gap: 3px;
	/* border: 1px dotted rebeccapurple; */
}
.flex-date {
	font-size: 0.7rem;
	color: var(--desat-dark-blue);
}
.flex-image img {
	width: 50px;
	border-radius: 50%;
	border: 3px solid #9eafc252;
}

.flex-share {
	width: 33px;
	height: 40px;
	position: relative;
	z-index: 5;
	cursor: pointer;
	/* border: 1px dotted green; */
	margin-left: 5rem;
}

.flex-share svg {
	width: 40px;
	height: 40px;
	transform: translate(19%, 19%);
}
/* .svg {
	transform: translate(32%, 32%);
} */

/* .flex-share img {
	filter: invert(0.5);
} */

.flex-share svg:hover {
	fill: var(--cream-primary);
}

.flex-share::before {
	content: '';
	height: 40px;
	width: 40px;
	background: var(--flex-background);
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	/* transform: translate(-22%, -22%); */
	border-radius: 50%;
}

/* .flex-share::after {
	content: '';
	position: static;
	display: inline-block;
	color: red;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: -50;
	left: -50;
	fill: green;
	z-index: 99;

} */

/* .tooltip {
	z-index: -1;
} */
.tooltip {
	content: '';
	position: absolute;
	top: -60px;
	left: -70px;
	width: 180px;
	height: 35px;
	color: #000;
	background: var(--dark-grey-blue);
	border-radius: 10px;
	z-index: 999;
	opacity: 0.95;
	box-shadow: 6px 4px 10px -1px rgba(41, 32, 32, 0.28);
	display: none;
	transition: all 0.2s;
}

.tooltip::after {
	content: '';
	position: absolute;
	color: #000;
	background: var(--dark-grey-blue);
	width: 15px;
	height: 15px;
	top: 27px;
	left: 83px;
	transform: rotate(45deg);
	opacity: 0.95;
}

.flex-links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6px;
	gap: 1rem;
	color: var(--stone-150);
	font-size: 1rem;
	/* border: 1px dotted red; */
	outline: none;
}

.flex-links p {
	font-size: 0.7rem;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 650px) {
	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 42% 58%;
		width: 304px;
		height: 430px;
	}
	.header-content {
		padding: 0.6rem;
	}

	.header-content .article {
		font-size: 0.7rem;
		line-height: 1.6;
		color: var(--dark-grey-blue);
		opacity: 0.9;
		padding-bottom: 0.2rem;
		text-wrap: pretty;
		/* border: 1px dotted red; */
	}

	.header-image {
		border-radius: 8px 8px 0 0;
	}

	/* FOOOTER MOBILE  */

	.flex-footer-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0.2rem;
		padding: 0 0.2rem;
		/* border: 1px dotted green; */
		position: relative;
	}

	.flex-person-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		/* border: 2px dotted green; */
	}
	.flex-name-mobile {
		font-size: 0.75rem;
		font-weight: 600;
		color: var(--dark-grey-blue);
	}
	.flex-text-mobile {
		display: flex;
		flex-direction: column;
		gap: 3px;
		/* border: 1px dotted rebeccapurple; */
	}
	.flex-date-mobile {
		font-size: 0.7rem;
		color: var(--desat-dark-blue);
	}
	.flex-image-mobile img {
		width: 50px;
		border-radius: 50%;
		border: 3px solid #9eafc252;
	}

	.flex-share {
		width: 44px;
		height: 44px;
		position: relative;
		z-index: 5;
		cursor: pointer;
		/* border: 1px dotted green; */
		/* margin-left: 5rem; */
	}

	.flex-share-mobile svg {
		width: 33px;
		height: 33px;
		transform: translate(15%,15%);
	}

	.flex-share-mobile::before {
		content: '';
		/* height: 33px;
		width: 33px; */
		background: var(--flex-background);
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		/* transform: translate(-22%, -22%); */
		border-radius: 50%;
	}
  .flex-share-mobile-overlay {
		width: 40px;
		height: 40px;
		position: relative;
		z-index: 5;
		cursor: pointer;
		border: 1px dotted magenta;
		margin-left: 5rem;
	}

	.flex-share-mobile-overlay svg {
		width: 33px;
		height: 33px;
		transform: translate(15%,15%);
	}

	.footer-mobile-overlay svg:hover {
		fill: var(--grey-blue);
	}

	.flex-share-mobile-overlay::before {
		content: '';
		height: 40px;
		width: 40px;
		background: var(--light-grey-blue);
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		/* transform: translate(-22%, -22%); */
		border-radius: 50%;
	}
/* 
	/* FOOTER OVERLAY  */
	.footer-mobile-overlay {
		display: none;
		position: absolute;
		width: 306px;
		height: 65px;
		background-color: var(--dark-grey-blue);
		bottom: -12px;
		left: -12px;
		border-radius: 0 0 8px 8px;
		opacity: 1;

		justify-content: space-around;
		align-items: center;
		z-index: 12;
	}
	.flex-share-mobile-overlay {
		width: 40px;
		height: 40px;
		position: relative;
		z-index: 5;
		cursor: pointer;
		border: 1px dotted magenta;
		margin-left: 5rem;
	}

	.flex-share-mobile-overlay svg {
		width: 40px;
		height: 40px;
		transform: translate(19%, 19%);
	}

	.footer-mobile-overlay svg:hover {
		fill: var(--grey-blue);
	}

	.flex-share-mobile-overlay::before {
		content: '';
		height: 40px;
		width: 40px;
		background: var(--light-grey-blue);
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		/* transform: translate(-22%, -22%); */
		border-radius: 50%;
	}
	.flex-links-mobile {
		display: flex;
		color: var(--light-grey-blue);
		font-size: 1.1rem;
		gap: 0.8rem;
		margin-left: 1rem;
		justify-content: center;
		align-items: center;
	}
	.flex-links-mobile p {
		text-transform: uppercase;
		font-size: 0.8rem;
		letter-spacing: 1px;
	} */
}
